/* body {
	color: blueviolet;
} */

html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	display: grid;
	grid: auto auto / 1fr 800px 1fr;
	font-size: 14px;
}

header {
	grid-area: 1/1/2/4;
	/* margin: 0 auto; */
	padding: 30px 0;
	text-align: center;

	background: #777;
}
header > .avator {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
header > h1 {
	font-size: 16px;
	margin: 16px;
}
header > p {
	margin: 0;
}







main {
	grid-area: 2/2/3/3;
}
